@media only screen and (max-width:480px)
{
    .menu{
        padding: 10px 5px;
        text-align: center;
    }
    .menu h4{
        font-size: 20px;
        margin-bottom: 10px;
        float:none;
    }
    .menu ul{
        text-align: center;
        margin-left: 0px;
        padding: 0px;
    }
    
    .menu ul li{
        display: inline-block;
        float: none;
        list-style:none;
        padding: 0 10px;
        font-weight:bold;
        text-transform:uppercase;
    }

    .menu ul li a{
        text-decoration: none;
        font-size:10px;
        color: #fff;
    }

    .menu ul li a:hover{
        color: red;
    }
    /* setting name at the top */
    
    .name{
        padding: 10px;
        font-size: 50px;
        text-shadow: 5px 5px 10px;
    }

    /* Images setting */

    .fashion{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .fashion .gallery{
        border: 3px solid rgba(0, 0, 0, 0.863);
        height: 100px;
        margin: 5px;
        overflow: hidden;

    }
    .fashion .gallery a img{
        width: 100px;
    }
}
